<style>
form{
  width:95%;
  margin:auto;
}
.list-desc-info{
  margin:28px 0 20px 15px;
  height:38px;
  border-left:2px solid blue;
}

.base-spec-1{
  margin:20px 0px;
  height: 100%;
}

.option-spec-1{
  margin:20px 0px;
  height: 100%;
}

.option-spec-2{
  width:220px;
  margin:5px 0px;
  padding:0px;
}

.option-spec-2 input{
  margin:0 10px 0 0px;
}

</style>  

 

      <form>
        <div class="form-group">
        <h1>Create New Listing:</h1> 
        <h2>Car Base Information</h2>
        <div class="col-xs-4">
          <label for="selectMaker">Select a Make:</label>
          <select class="form-control" ng-model="selectedMake.value" ng-change="makeChange()" ng-options="autoCollection.make_name as autoCollection.make_name for autoCollection in autoCollections">
          </select>
        </div>       

        <div class="col-xs-4">
          <label for="selectModel">Select a Model:</label>
          <select class="form-control" ng-disabled="modelSelection" ng-model="selectedModel">
            <option ng-show="modelSelection">Please Select a Make</option>
          </select>
        </div>
    
        <div class="col-xs-4">
          <label for="selectMaker">Select a Year:</label>
          <select class="form-control" ng-model="selectedYear.value" ng-disabled="modelSelection" ng-options="autoYear as autoYear for autoYear in autoYears">
          <option ng-if="modelSelection">Please Select a Make</option>
          </select>
        </div>
    </div> <!-- end of row -->

  <!-- Base + Condition info -->
   <div class="row">
     <div class="form-group">

       <div class="col-xs-12 base-spec-1"> 
         <div class="col-xs-2">
          <label>Odometer:</label>  
          <input type="text" class="form-control" ng-model="selectedOdometer.value">         
          </div>
         <div class="col-xs-2 list-desc-info">info</div>
         
        <div class="col-xs-3">
        <label>Vin (Vechicle Id Number):</label>  
          <input type="text" class="form-control" ng-model="selectedVin.value">
         </div>
         <div class="col-xs-4 list-desc-info">
            <p>Every car or truck since the 1981 model year has a unique 17-digit Vehicle Identification Number (VIN) filled with important details, ranging from its engine type to where it was built. The VIN is like a car's Social Security number</p>
         </div>

       </div>


        <div class="col-xs-12"> 
         <div class="col-xs-4">
           <label>Car Condition:</label>
           <select class="form-control" ng-model="selectedCondition.value" ng-options="autoCondition as autoCondition for autoCondition in autoConditions"></select>
         </div>
         <div class="col-xs-7 list-desc-info">
          <p>info</p>
        </div>
       </div>

       
       <div class="col-xs-12"> 
         <div class="col-xs-4">
          <label>Car Title:</label>  
          <select class="form-control" ng-model="selectedTitle.value" ng-options="autoTitle as autoTitle for autoTitle in autoTitles"></select>
         </div>
         <div class="col-xs-7 list-desc-info">info</div>
       </div>
     </div><!-- end of group -->
   </div>

   <!-- Spec info -->  

    <div class="row">
     <div class="form-group">
        <div class="col-xs-12"> 
           <div class="col-xs-2">
             <label>Car Engine:</label>
             <select class="form-control" ng-model="selectedEngine.value" ng-options="autoEngine as autoEngine for autoEngine in autoEngines"></select>
           </div>
           <div class="col-xs-3 list-desc-info">
            <p>info</p>
          </div>
          <div class="col-xs-2">
            <label>Car Drive Type:</label>  
            <select class="form-control" ng-model="selectedTitle.value" ng-options="autoTitle as autoTitle for autoTitle in autoTitles"></select>
          </div>
          <div class="col-xs-4 list-desc-info">info</div>        
      </div>

      <div class="col-xs-12"> 
         <div class="col-xs-2">
          <label>Car Transmission:</label>  
          <select class="form-control" ng-model="selectedTransmission.transmission" ng-options="autoTransmission as autoTransmission.transmission for autoTransmission in autoTransmissions"></select>
        </div>
        <div class="col-xs-3 list-desc-info">info</div>

        <div class="col-xs-2">
            <label ng-show="showTransAuto()">Transmission Speed:</label>  
            <select class="form-control" ng-show="showTransAuto()" ng-model="selectedTransmission.speed" ng-options="autoTransmission as autoTransmission.speed for autoTransmission in autoTransmissions"></select>
        </div>

        <div class="col-xs-4 list-desc-info" ng-show="showTransAuto()">info</div>

      </div> 

      <div class="col-xs-12">
        <div class="col-xs-2">
           <label>Car Fuel:</label>
           <select class="form-control" ng-model="selectedFuel.value" ng-options="autoFuel as autoFuel for autoFuel in autoFuels"></select>
         </div>
         <div class="col-xs-3 list-desc-info">
          <p>info</p>
        </div>

        <div class="col-xs-3">
          <label>Car Miles Per Gallon(MPG):</label>  
          <select class="form-control" ng-model="selectedMpg.value" ng-options="autoMpg as autoMpg for autoMpg in autoMpgs"></select>
        </div>
        <div class="col-xs-3 list-desc-info">info</div>          
      </div> <!-- end of section -->

      <div class="col-xs-12">
        <div class="col-xs-2">
           <label>Car Doors:</label>
           <select class="form-control" ng-model="selectedDoors.value" ng-options="autoDoor as autoDoor for autoDoor in autoDoors"></select>
         </div>
         <div class="col-xs-2 list-desc-info">
          <p>info</p>
        </div>

        <div class="col-xs-3">
          <label>Car Style:</label>  
          <select class="form-control" ng-model="selectedStyle.value" ng-options="autoStyle as autoStyle for autoStyle in autoStyles"></select>
        </div>
        <div class="col-xs-4 list-desc-info">info</div>          
      </div> <!-- end of section -->  

      <!-- insert color info here -->

      <div class="col-xs-12 option-spec-1">
        <h1>{{selectedMake.value}} Features</h1>
        <span ng-repeat="autoFeature in autoFeatures">
          <label class="option-spec-2"><input type="checkbox" ng-model="featureSelection.values[autoFeature]">{{autoFeature}}</label>
        </span>
      </div> 

      <div class="col-xs-12 option-spec-1">
      <h1>{{selectedMake.value}} Options</h1>
        <span ng-repeat="autoOption in autoOptions">
          <label class="option-spec-2"><input type="checkbox" ng-model="optionSelection.values[autoOption]">{{autoOption}}</label>
        </span>
      </div>                    
       
     </div> <!-- end of form group -->
   </div> <!-- end of row -->

   <!-- Listing location -->  
    <div class="row">    


      <div class="form-group">
      <div class="col-xs-12">
      <h2>Listing Location</h2>
          <div class="col-xs-6">
            <label for="address">Enter Address:</label>
            <input type="address" class="form-control" id="" ng-model="inputAddress.value" placeholder="Address">
          </div>

          <div class="col-xs-6">
            <label for="zip">Enter Zip Code:</label>
            <input type="text" class="form-control" id="" placeholder="Zip Code" ng-model="inputZip.value" >
          </div>
      </div>
      <div class="col-xs-12">    
          <div class="col-xs-6">  
            <label for="zip">City</label>
            <input type="text" class="form-control" placeholder="City" ng-value="zipResults.results[0].address_components[1].long_name">
          </div>

          <div class="col-xs-6">
            <label for="zip">State</label>
            <input type="text" class="form-control" placeholder="State" ng-value="zipResults.results[0].address_components[3].long_name">    
          </div>
      </div>
        
    </div>
    </div>
        <button ng-click="addListing()">Submit</button>
      </form>


 