<style>
form{
  width:95%;
  margin:auto;
}
</style>  
  <div class="container-fluid">
    <div class="row">

      <form>
        <div class="form-group">
        <h1>Create New Listing:</h1> 
        <label for="selectMaker">Select a Make:</label>
        <select class="form-control" ng-model="selectedMake.value" ng-change="makeChange()" ng-options="autoCollection.make_name as autoCollection.make_name for autoCollection in autoCollections">
        </select>

        <h1>{{selectedMake.value}}</h1>        

        <label for="selectModel">Select a Model:</label>
        <select class="form-control" ng-disabled="modelSelection" ng-model="selectedModel" ng-options="">
          <option ng-show="modelSelection">Please Select a Make</option>
        </select>

        <label for="selectMaker">Select a Year:</label>
        <select class="form-control" ng-model="selectedYear" ng-disabled="modelSelection" ng-options="autoYear as autoYear for autoYear in autoYears">
        <option ng-if="modelSelection">Please Select a Make</option>
        </select>


      <div class="form-group">
      <h1>Listing Location</h1>
          <label for="address">Enter Address:</label>
          <input type="address" class="form-control" id="" ng-model="inputAddress.value" placeholder="Address">
          <label for="zip">Enter Zip Code:</label>
          <input type="text" class="form-control" id="" placeholder="Zip Code" ng-model="inputZip.value" >
          <label for="zip">City</label>
          <input type="text" class="form-control" placeholder="City" ng-value="zipResults.results[0].address_components[1].long_name"></div>
          <label for="zip">State</label>
          <input type="text" class="form-control" placeholder="State" ng-value="zipResults.results[0].address_components[3].long_name"></div>    
        </div>

        
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        <button ng-click="addListing()">Submit</button>
      </form>

    </div>
  </div>