

<div id="index" class="container-fluid">


  <div class="row">
    <div id="map"></div>
    <div id="autos_list">
      <table class="table">
        <th>Maker</th>
        <th>Model</th>
        <th>Zip Code</th>
        <% @listings.each do |listing| %>
        <tr>
          <td><%=listing.auto_maker%></td>
          <td><%=listing.auto_model%></td>
          <td><%=listing.zip_code%></td>          
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLNARwDERiG2brgTIZK0elZkmSc0dFCHM&callback=initMap"
async defer></script>

<script type="text/javascript">
 var map;
 var icon_geo = 'assets/theme/projects/thumbs/geo_icon.jpg'
 function GeoLocation(controlDiv, map) {

  // Set CSS for the control border.
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = '#fff';
  controlUI.style.border = '2px solid #fff';
  controlUI.style.borderRadius = '3px';
  controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
  controlUI.style.cursor = 'pointer';
  controlUI.style.marginBottom = '22px';
  controlUI.style.marginLeft = '5px';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Click to recenter the map';
  controlDiv.appendChild(controlUI);

  // Set CSS for the control interior.
  var controlText = document.createElement('div');
  controlText.style.color = 'rgb(25,25,25)';
  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
  controlText.style.fontSize = '16px';
  controlText.style.lineHeight = '38px';
  controlText.style.paddingLeft = '5px';
  controlText.style.paddingRight = '5px';
  controlText.innerHTML = 'Geo';
  controlUI.appendChild(controlText);

  // Setup the click event listeners: simply set the map to Chicago.
  controlUI.addEventListener('click', function() {
    var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }

});

}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
    'Error: The Geolocation service failed.' :
    'Error: Your browser doesn\'t support geolocation.');
}


function initMap() {

  var zip = prompt("Please enter your zip code","Enter zip");

  while (zip == "") {
    var zip = prompt("Please enter your zip code","Enter zip");
  }


  $( document ).ready(function() {

  if (zip != null){

    $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=' + zip + '&key=AIzaSyBLNARwDERiG2brgTIZK0elZkmSc0dFCHM', function(data) {
      console.log(data);
      window.map_center = {lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng};

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: window.map_center,

        mapTypeControl: false,


        zoomControl: true,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_TOP
        }
      }); // end of map

      var maker = new google.maps.Marker({
        position: window.map_center,
        map: map,
        title: "hello world"
      }); // marker

        var maker = new google.maps.Marker({
        position: {lat: 37.6,lng:-122.5},
        map: map,
        title: "hello world"
      }); // marker

        // Create the DIV to hold the control and call the CenterControl() constructor
      // passing in this DIV.
      var centerControlDiv = document.createElement('div');
      var centerControl = new GeoLocation(centerControlDiv, map);

      centerControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.LEFT_TOP].push(centerControlDiv);

    }); // end of getJSON
  } //  end of zip ! = null
  else {
      $.getJSON('http://freegeoip.net/json/', function(data){
      window.map_center = {lat: data.latitude, lng: data.longitude};

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: window.map_center,

        mapTypeControl: false,


        zoomControl: true,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_TOP
        }
      }); // end of map

      var maker = new google.maps.Marker({
        position: window.map_center,
        map: map,
        title: "hello world"
      }); // marker

        // Create the DIV to hold the control and call the CenterControl() constructor
      // passing in this DIV.
      var centerControlDiv = document.createElement('div');
      var centerControl = new GeoLocation(centerControlDiv, map);

      centerControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.LEFT_TOP].push(centerControlDiv);
    }); // end of getJSON
  }
}); // end of jquery ready
  
} // end of init map
</script>