
<style>
  .selected{
    background:yellow;
  }
</style>

<div id="new" class="container-fluid " ng-controller="mainSearchCtrl" ng-init="setup()">
  <div class="row jumbotron">
    <uib-tabset>
    
      <uib-tab heading="Vertical 1" active="true">
        <div>Search All Cars make by <span ng-repeat="autoSearch in autoSearches">{{autoSearch}} </span> model {model} from {year}</div>
        
        <uib-tabset vertical="true">

          <uib-tab heading="inside 1" class="tab-header" >

              <div class="tab-content-inner">  
                 <ul class="searchMain"> 
                    <li ng-repeat="autoMaker in autoMakers track by $index">
                      <div class="autoMakeSet" ng-click="tabUnlock(autoMaker.make_name)" ng-class="">
                        <a href="#"><img src="{{autoMaker.logo}}" width="150px"></a>
                        <a href="#">{{autoMaker.make_name}}</a>
                      </div>  
                    </li>
                 </ul>  
                 <div class="searchDesc">
                    <p>{{makeDescription}}</p>
                 </div>
              </div> 

          </uib-tab>
          
          <uib-tab heading="inside 2" class="tab-header">
            <div class="tab-content-inner">  
            
              <ul class="searchMain">
                <li ng-repeat="modelName in modelNames track by $index"><a href="#" ng-click="tabUnlock2(modelName)">{{modelName}}</a></li>
              </ul>  
              
              <div class="searchDesc">
                    <p>{{modelDescription}}</p>
              </div>          
            
            </div>
          </uib-tab>  

          <uib-tab heading="inside 3" class="tab-header">
            <div class="tab-content-inner">
              <ul class="searchContent-year">
                <li ng-repeat="autoYear in autoYears" class="searchContent-year"><a href="#"></a></li>
              </ul>
            </div>
          </uib-tab>   

       
        </uib-tabset> <!-- end of inner tabset -->
      </uib-tab> <!-- end of first outter tab --> 

      <uib-tab heading="Vertical 2" >
        Vertical content 2
      </uib-tab>
    </uib-tabset>
  </div> <!-- end of jumbo -->
</div> <!-- end of container -->


<script type="text/javascript">

</script>









