  <% if current_user  %>
  <div class="container-fluid">
    <div class="row">    
      <h1>Welcome back, <%= current_user.email%></h1>
      <% @listings.each do |list| %>
      <%= list.auto_maker%>
      <% end %>
    </div>
  </div>

  <% else %>
    <script type="text/javascript">
    window.location.href="/"  
  </script>
  <% end %>
