  <div class="container-fluid" ng-controller="listingNewCtrl" ng-init="setup()" >
    <div class="row"> 
      
        <div ng-include src="'/_form_listing.html.erb'">
        </div>
      <p>below form</p>
    </div>  
  </div>